
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure, div {
	display: block;
}


body {

	background:#fff; 
	color:#000;
	margin:0 auto;
	font-size: 14px;
}

body, button, input, select, textarea {
	font-family: tahoma, arial, 'Hiragino Sans GB' sans-serif;
}

.hidden {
	display: none;
	visibility: hidden;
}


.banner {
	margin-top: 0;
	position: relative;
	height: 200px;
	background: url(/public/img/banner.png) no-repeat;
	background-size: cover;
}


.banner p {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	left: 70px;
	bottom: 40px;
	top: auto;
}

/*.banner img {
	width: 100%;
}*/

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.container {
	padding: 20px 20px 70px 20px;
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}

#div-step1 .span_left {
	float: left;
	width: 470px;
}

#div-step1 .span_right {
	float: right;
	width: 50%;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.control-group {
	margin-bottom: 20px;

}

label {
	display: block;
	margin-bottom: 5px;
}

.fc_red {
	color: #ff6600;
}

.fc_main {
	color: #19c0e9;
}

strong {
	font-weight: bold;
}

input[type="text"], input[type="email"], textarea, select {
	width: 206px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.input-block-level {
	display: block;
	width: 100% !important;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.input-xlarge {
	width: 270px !important;;
}

/* Chrome Firefox Opera Safari IE9+ */
input:disabled{
	background-color: #F5F5F5;
	color:#ACA899;
}
/* IE8- */
input[disabled]{
	background-color: #F5F5F5;
	color:#ACA899;
}

select {
	width: 220px;
	background-color: #fff;
	border: 1px solid #ccc;
}

h3 {
	font-size: 24.5px;
	line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
}

article p {
	font-size: 1.2em;
	line-height: 1.5em;
}

p {
	margin: 0 0 10px;
}

textarea {
	min-height: 200px;
	width: 80%;
	height: auto;
}

a {
	text-decoration: none;
}

.form-actions {
	padding: 19px 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-top: 1px solid #e5e5e5;
}

.well .form-actions {
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn-large {
	padding: 11px 19px;
	font-size: 17.5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn-success {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom,#62c462,#51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.form-horizontal .control-label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}


.control-group .control-label {
	width: 40%;
}

.span {
	width: 770px;
}

.offset2 {
	margin-left: 230px;
}

.control-group .controls {
	margin-left: 45%;
}

.radio.inline, .checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}

.radio, .checkbox {
	min-height: 20px;
	padding-left: 20px;
}

.uploadify-button {
	background-color: #505050;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #505050), color-stop(1, #707070));
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #808080;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	width: 100%;
	cursor: pointer;
}

.uploadify-button {
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.uploadify-button input {
	opacity: 0;
	filter: alpha(opacity=0);
	font-size: 100px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}


.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
